/* Error: expected ":".
 *   ,
 * 4 |     $scope.validate = function () {
 *   |                     ^
 *   '
 *   login.js 4:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ":".\a   \2577 \a 4 \2502      $scope.validate = function () {\a   \2502                      ^\a   \2575 \a   login.js 4:21  root stylesheet';
}
