<!DOCTYPE html>

<body>
  <div>
    <h1 align='center'>orders </h1>

    <div class="well">
      <div class="row ">
        <div class="col-xs-8">
          <nav class='navbar navbar-default'>
            <div class="container-fluid" ng-controller="OrdersCtrl">

              <ul class="nav nav-pills">

                <li><a ui-sref='.page1'>Fast Food</a></li>
                <li><a ui-sref='.page2'>Indian</a></li>
                <li><a ui-sref='.page3'>Drinks</a></li>
              </ul>
            </div>
          </nav>
          <div ui-view>
          </div>
        </div>
        <div class=" col-xs-4">
          <div class="container-fluid">
            <div ng-controller="CostCtrl">
              <button class="btn btn-primary" style="float:left;" ng-click="clearOrderList()">CLEAR ORDER</button>
              <h4 style="text-align:right;float:right;">Total : {{total |currency:'£'}}</h4>
              <hr style="clear:both;" />
              <div class="list-box">

                <table class="table table-bordered table-sm table-hover">
                  <thead>
                    <tr>
                      <th align="left ">Item</th>
                      <th align="right ">Qty</th>
                    </tr>
                  </thead>

                  <tbody ng-repeat="(k,v) in orderList " ng-click="editList(k)">
                    <tr>
                      <td align="left">{{k}}</td>
                      <td align="right">{{v[1]}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
